---
import BaseLayout from "../layouts/BaseLayout.astro";
const pageTitle = "Components";
---

<BaseLayout pageTitle={pageTitle}>
    <p>This is where components will be.</p>
    <a href="/components/alert">Alert</a>
</BaseLayout>
